@media only screen and (max-width: 480px)
{ 
    *
    {
        padding: 0;
        margin: 0;
    }
    body
    {
        background:url(bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;

    }
    .nav
    {
        background-color: WHITE;
        height: 60px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap:wrap;
    }    
    nav
    {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        margin-top: 20PX;
    }
    a
    {
        position: relative;
        text-decoration: none;
        color:BLACK;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    #logo
    {
        margin-top:5PX ;
        padding-right: 20PX;
    }
    a:hover
    {
        color: darkred;
        transition: 0.5SEC;
    }
    #greet
    {
        color: white;
        padding-top: 30px;
        padding-bottom: 30px; 
        background-color: darkblue;
    }
    .marq
    {
        color: black;
        overflow: hidden;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color:white;
    }
    .main
    {
        border: 3px double white;
        border-radius: 30px;
        width: 350px;
        align-self: center;
        margin-left: 55px;
        padding-top: 40px;
        padding-bottom: 100px;
        margin-top: 75px;
        justify-content: center;
        font-size: 16 px;
        align-items: center;
        text-align: center;
        background-color: transparent;
        backdrop-filter: blur(10px);
        color:white;
        line-height: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
   i
    {
        color: white;
        font-size: 70px;
        color: gold;
    }


}
*
{
    padding: 0;
    margin: 0;
}
body
{
    background-color: antiquewhite;
}
.nav
{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
nav
{
    display: flex;
    flex-direction: row;

    gap: 30px;
}
a
{

     color: black;
     font-size: 25px;
}
#greet
{
    color: white;
    padding-top: 30px;
    padding-bottom: 30px; 
    background-color: darkblue;
}
#logo
{
    margin-top: 5px;
    margin-bottom: 5px;
}